{% extends 'base.html' %}

{% block title %}
<title>{{config.domain}}</title>
{% endblock %}

{% block homelink %}{% endblock %}

{% block body %}
<div class="index-main">
  <h1 class="index-title"><a href="/">{{config.title}}</a></h1>
  <ul class="index-list">
    <li>
      <a href="/note">Note</a>
    </li>
    <li>
      <a href="/read">Read</a>
    </li>
    <li>
      <a href="https://twitter.com/fragmentzero">Twitter</a>
    </li>
    <li>
      <a href="mailto:hi@fragment0.com">Email</a>
    </li>
  </ul>
</div>
{% endblock %}
